.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.swiper {
  height: 500px;
}
.swiper-button-next,
.swiper-button-prev {
  color: #263238;
}
.swiper-pagination-bullet-active {
  background: #263238;
}

.wrapper-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  height: 100%;
  width: 300px;
}
mat-card-header {
  flex: 1 1 auto;
  color: #263238;
  background:#263238;

}
mat-card-content {
  background-color: green !important;
  color: #263238;
  flex: 5 1 auto;
}
mat-card-footer {
  flex: 0.5 1 auto;
}
mat-card-title-group {
  background-color: rgb(151, 100, 38) !important;
}
mat-card-title {
  background-color:white !important;
}
.card-title{
margin: 0 10px;
}
.card-icon{
  margin: 0 10px;
  }

/* </mat-card-title>
<mat-card-subtitle>{{xp.subtitle}}</mat-card-subtitle> */
