.icon{
  font-size: 60px;
}
.wrapper-card{
  background-color: #eaebeb;
  border:2px solid blue;
  margin: 50px;
  padding:50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mat-card{
  background-color: #263238;
}
.mat-card-header, .mat-card-content{
  background-color: #263238;
}
