<div class="wrapper-card" *ngIf="isActive">
  <div>
    <fa-icon [icon]="data.icon" class="icon"></fa-icon>
  </div>
  <div>
    {{data.description}}
  </div>

<!--   <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <fa-icon [icon]="data.icon" class="icon"></fa-icon>
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{data.description}}
    </mat-card-content>

  </mat-card> -->
</div>
<mat-divider></mat-divider>
