h1 {
  padding: 10px;
/*   border: 2px solid red;
 */  text-align: center;
}
.portfolio {
  display: flex;
  flex-direction: column;
/*   border: 2px solid yellow;
 */}
.grid-container {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "item1"
  "item2"
  "item3"
  "item4";
  border: 2px solid blue;
  margin: auto auto;
  gap: 30px;
}
.matCardFirstBlock {
  display: flex;
  flex-direction: row;
}
.matCardSecondBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
mat-card {
  display: flex;
  flex-direction: column;
}
mat-card-title {
  font-size: 16px;
}
mat-card-comment {
  font-size: 16px;
  padding: 10px;
}
mat-card-content {
  /*   border:2px solid rgb(135, 188, 135);
 */
  padding: 10px;
}
mat-card-actions {
  padding: 10px;
}
img {
  margin-top: 5px;
  margin-left: 5px;
  height: 150px;
  width: 150px;
  box-shadow: 5px 8px 5px 0px #eaeaea;
}

.item1 {
  grid-area: item1;
  /*   border: 2px solid blue;
 */
}
.item2 {
  grid-area: item2;
  /*   border: 2px solid red;
 */
}
.item3 {
  grid-area: item3;
  /*   border: 2px solid yellow;
 */
}
.item4 {
  grid-area: item4;
  /*   border: 2px solid pink;
 */
}


@media (min-width: 320px) and (max-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4";
  }
  @media (min-width: 769px) {
    .grid-container {
      justify-content: center;
    }
  }
/*   .portfolio{
    min-height: calc(100vh - 156px);
  } */
}

@media (min-width: 577px) {
 /*  .portfolio{
    min-height: calc(100vh - 100px);
  } */
/*   .grid-item {
    height: 220px;
    width: 300px;
  }
  .grid-container {
    grid-template-columns: repeat(autofill, 400px);
    grid-template-rows: repeat(2, 300px);

    grid-template-areas:
      "item1 item2"
      "item3 item4";
  } */
}
/* @media (min-width: 1282px) {
  .grid-container {
    grid-template-columns: repeat(autofill, 500px);
    grid-template-rows: repeat(2, 300px);

    grid-template-areas:
      "item1 item2"
      "item3 item4";
  }
  .grid-item {
    height: 250px;
    width: 500px;
  }
} */
