  img {
    width: 200px;
    height: 200px;
}
/* .wip-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #263238;
color:#fff;
width:100%;

} */
.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background: #263238;
  border-radius: 20px;
}
.container-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro p {
  padding: 20px;
  font-size: 16px;
  text-justify: distribute;
}
