<!-- <div class="wip-container">
  <div>
    <ngx-typed-js [strings]="['Work in progress... ^10000']" [startDelay]="2000" [backSpeed]="50" [typeSpeed]="150"
      [loop]="true" [fadeOut]="true" [cursorColor]="'#7B8083'">
      <span class="typing">
      </span>
    </ngx-typed-js>
  </div>
  <div class="container-image">
    <img src="../../assets/img/troubleshooting-bro.svg" alt="">
  </div>
  <div>
    <ngx-typed-js [strings]="['To be continued... ^10000']" [startDelay]="3000" [backSpeed]="50" [typeSpeed]="150"
      [loop]="true" [fadeOut]="true" [cursorColor]="'#7B8083'">
      <span class="typing">
      </span>
    </ngx-typed-js>
  </div>
</div> -->

<div class="intro">
  <p class="p1">
    <ngx-typed-js [strings]="['Work in progress... ^10000']" [startDelay]="2000" [backSpeed]="50" [typeSpeed]="150"
    [loop]="true" [fadeOut]="true" [cursorColor]="'#7B8083'">
    <span class="typing">
    </span>
  </ngx-typed-js>
  </p>
  <div class="container-image">
    <img src="../../assets/img/troubleshooting-bro.svg" alt="">
  </div>
  <p>
    <ngx-typed-js [strings]="['To be continued... ^10000']" [startDelay]="3000" [backSpeed]="50" [typeSpeed]="150"
    [loop]="true" [fadeOut]="true" [cursorColor]="'#7B8083'">
    <span class="typing">
    </span>
  </ngx-typed-js>  </p>
</div>
