<section class="xp component">
  <div class="grid-container">
    <div class="grid-item item{{xp.id}}" *ngFor="let xp of xpData">
      <mat-accordion class="example-headers-align" multi>
        <!-- #enddocregion multi -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <fa-icon [icon]="xp.type == 'job' ? faSuitcase : faGraduationCap" class="icon"></fa-icon>
            </mat-panel-title>
            <mat-panel-description>
              {{xp.title}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card class="bg-color-dark">
            <div class="matCardFirstBlock">
              <mat-card-content>
                {{xp.subtitle}}
              </mat-card-content>
            </div>
            <div class="matCardSecondBlock">
              <mat-card-content>
                {{xp.details['from']}}
                {{xp.details['to']}}
                {{xp.details['location']}}
                {{xp.details['name']}}
              </mat-card-content>
              <!--   <mat-card-actions>
                <button class="moreInfos" mat-raised-button>+ d'infos</button>
              </mat-card-actions> -->
            </div>

          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</section>
