<section class="xp component">
  <div class="grid-container">
    <div class="grid-item item{{xp.id}}" *ngFor="let xp of xpData">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <fa-icon [icon]="xp.type == 'job' ? faSuitcase : faGraduationCap" class="icon"></fa-icon>
            </mat-panel-title>
            <mat-panel-description>
              {{xp.title}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card>
            <div class="matCardFirstBlock">
              <mat-card-content>
                {{xp.subtitle}}
              </mat-card-content>
            </div>
            <div class="matCardSecondBlock">
              <mat-card-content>
                <p><span class="span-mat-card-content">Lieu</span> : {{xp.details['location']}}</p>
               <p *ngIf="xp.type == 'job'"><span class="span-mat-card-content">Entreprise</span> : {{xp.details['name']}}</p>
                <p *ngIf="xp.type == 'diploma'"><span class="span-mat-card-content">Etablissement</span> : {{xp.details['name']}}</p>
                <p> <span class="span-mat-card-content">Période</span>  : {{xp.details['from']}}  <span *ngIf="xp.details['to']">/ {{xp.details['to']}}</span></p>
              </mat-card-content>
              <!--   <mat-card-actions>
                <button class="moreInfos" mat-raised-button>+ d'infos</button>
              </mat-card-actions> -->
            </div>

          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</section>
