h1 {
  padding: 10px;
  text-align: center;
}
.icon{
  font-size: 20px;

}
.xp {
  display: flex;
  flex-direction: column;
}
.grid-container {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "item1"
    "item2"
    "item3"
    "item4"
    "item5"
    "item6";
  margin: auto auto;
  gap: 30px;
}
.matCardFirstBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #263238;
  color: #fff;
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;

}
.matCardSecondBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #263238;

  border-radius: 20px !important;

}
mat-panel-description, .matCardFirstBlock mat-card-content{
  font-weight: bold;
  font-size: 18px;
}
mat-panel-description{
  color: #263238;

}
mat-expansion-panel{
  display: flex;
  flex-direction: column;
  border-radius: 20px !important;
}
mat-card-title {
  font-size: 16px;
}
mat-card-comment {
  font-size: 16px;
  padding: 10px;
}
mat-card-content {
  padding: 10px;
  border-radius: 20px !important;
}
mat-card-actions {
  padding: 10px;
}
mat-card{
  border-radius: 20px !important;
}
.span-mat-card-content {
  text-decoration: underline;
  font-weight: bold;
}

.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}
.item6 {
  grid-area: item6;
}

/* MEDIA QUERIES */
@media (min-width: 320px) and (max-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6";
  }
  @media (min-width: 769px) {
    .grid-container {
      justify-content: center;
    }
  }
}

@media (min-width: 577px) {
  /*  .portfolio{
    min-height: calc(100vh - 100px);
  } */
  /*   .grid-item {
    height: 220px;
    width: 300px;
  }
  .grid-container {
    grid-template-columns: repeat(autofill, 400px);
    grid-template-rows: repeat(2, 300px);

    grid-template-areas:
      "item1 item2"
      "item3 item4";
  } */
}
/* @media (min-width: 1282px) {
  .grid-container {
    grid-template-columns: repeat(autofill, 500px);
    grid-template-rows: repeat(2, 300px);

    grid-template-areas:
      "item1 item2"
      "item3 item4";
  }
  .grid-item {
    height: 250px;
    width: 500px;
  }
} */
