<section class="banner component" id="banner">
  <div class="block1">
<!--     <ngx-typed-js [strings]="['This is text ^1000 which gets paused for 1 second']">
      <h2 class="typing"></h2>
    </ngx-typed-js> -->
    <ngx-typed-js [strings]="['Développeur Front ^10000']" [startDelay]="2000" [backSpeed]="50" [typeSpeed]="150" [loop]="true" [fadeOut]="true"
    [cursorColor]="'#7B8083'">

      <span class="typing">
      </span>
    </ngx-typed-js>
</div>
  <div class="intro">
    <p>
      Bienvenue sur mon portfolio ! :) <br>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere a laborum expedita sint veritatis<br>
laudantium totam, non accusantium delectus. A voluptate sapiente in iure possimus molestias quis ipsum maxime ratione.
    </p>
  </div>

  <div class="container-image">
    <img src="../../assets/img/computer.svg" alt="">
  </div>
</section>
