<section class="home component" id="banner">
  <div class="block1">
    <ngx-typed-js [strings]="['Développeur Front ^10000']" [startDelay]="2000" [backSpeed]="50" [typeSpeed]="150"
      [loop]="true" [fadeOut]="true" [cursorColor]="'#7B8083'">
      <span class="typing">
      </span>
    </ngx-typed-js>
  </div>
  <div class="intro">
    <p class="p1">
      Hello,
      <!-- <fa-icon class="icon" [icon]="smileyIcon"></fa-icon> -->
      <br><br>      Je me nomme Sébastien. <br><br>
      Je vous souhaite la bienvenue sur mon portfolio !
    </p>
    <div class="container-image">
      <img src="../../assets/img/computer.svg" alt="">
    </div>
    <p>
      Bonne visite !
    </p>
  </div>


</section>
